.main-page{
  width:100%;
}

.canvas{
  width: 80%;
  min-height: 100vh;
  margin: auto;
}

.blueGray-bg{
  background-color:#5885AF
}

.blueGray{
  color:#5885AF
}

.darkBlue-bg{
  background-color:#274472
}

.darkBlue{
  color:#274472
}

.babyBlue-bg{
  background-color:#C3E0E5
}

.babyBlue{
  color:#C3E0E5
}

.main-navbar{
  height: 10vh;
  background-color: #274472;
}

.card-size{
  width: 2rem;
}

.navbar{
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.navbar-item:nth-child(1){
  width: 20%;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
}

.navbar-item:nth-child(2){
  width: 80%;
}

.navbar-item ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item ul li a{
  text-decoration: none;
  float: right;
  padding: 8px 16px;
  color: white;
}

.a-logo{
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

.main-banner{
  margin-top: 10px;
  padding: 10px;
  height: 80vh;
  background-color: #282c34;
}

.banner{
  width: 100%;
  height: 100%;
  background-image: url('https://images6.alphacoders.com/423/423562.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-information{
  margin-top: 10px;
  padding: 10px;
  height: 40vh;
  background-color: #999999;
}

.information{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.information-item{
  margin: auto;
  padding: 2%;
  font-size: 18px;
  width: 27%;
  background-color: white;
  text-align: left;
  border-radius: 10px;
}

.main-words{
  margin-top: 10px;
  padding: 10px;
  height: 50vh;
  background-color: #282c34;
}

.words{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.words-item:nth-child(1){
  margin: 1%;
  padding: 2%;
  font-size: 18px;
  width: 45%;
  background-color: white;
  text-align: left;
  border-radius: 10px;
  background-image: url('https://images.unsplash.com/photo-1536318431364-5cc762cfc8ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80');
  background-size: cover;
}

.words-item p{
  width: 30%;
}

.words-item:nth-child(2){
  margin: 1%;
  padding: 2%;
  font-size: 18px;
  width: 45%;
  background-color: white;
  text-align: left;
  border-radius: 10px;
  background-image: url('https://browsecat.net/sites/default/files/vintage-skateboard-aesthetic-wallpapers-124119-772005-6423390.png');
  background-size: cover;
}


.main-schedule{
  margin-top: 10px;
  padding: 10px;
  height: 40vh;
  background-color: #282c34;
}

.schedule{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.schedule-item{
  margin: auto;
  height: 80%;
  padding: 2%;
  font-size: 18px;
  width: 27%;
  text-align: left;
  border-radius: 10px;
  color: white;
}

.schedule-item:nth-child(1) ul{
  list-style: none;
}

.main-footer{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 5vh;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
}

.footer{
  margin: auto;
}